AddDefaultCharset UTF-8
RewriteEngine On
RewriteBase /andreyevstropov.com/
RewriteRule ^(.*)en/([^/]*)$ $1index.html [L]
RewriteRule ^(.*)en/(.*)$ $1$2 [L]
RewriteRule ^(.*)/(.*)$ $1/$2 [L]
RewriteRule ^(.*)$ index.html